body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 42px;
	
	background-color: #fdf8f5;
}

a {
	text-decoration: none;
}
a:visited {
	color: initial;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 900px;
	height: 700px;

	box-shadow: 0 0 5px  #e8cebf;
	background-color: #fdf8f5;
	text-align: center;

	border-radius: 5px;
	border: 10px solid #e8cebf;
	margin: 120px auto;
}

/* =============================================== */

/* :hover effect to red link
================================================== */
.red a {
	color: #ddaf94;
	position: relative;
	transition: color 0.2s ease;
}

.red a::after {
	content: "";
	width: 0;
	height: 3px;

	background-color: #ee5c67;
	transition: width 0.2s ease;

	position: absolute;
	bottom: -3px;
	left: 0;
}

.red a:hover {
	color: #ee5c67;
}
.red a:hover::after {
	width: 100%;
}

/* :hover effect to blue link
================================================== */
.blue a {
	color: #7cb5fa;
	position: relative;
	transition: color 0.2s ease-out;
}

.blue a::after {
	content: "";
	width: 0;
	height: 3px;

	background-color: #455ba8;
	transition: width 0.2s ease-out;

	position: absolute;
	bottom: -3px;
	left: 0;
}

.blue a:hover {
	color: #455ba8;
}
.blue a:hover::after {
	width: 100%;
}

/* :hover effect to green link
================================================== */
.green a {
	color: #4bbd9c;
	position: relative;
	transition: color 0.2s linear;
}

.green a::after {
	content: "";
	width: 0;
	height: 3px;

	background-color: #2b616d;
	transition: width 0.2s linear;

	position: absolute;
	bottom: -3px;
	left: 0;
}

.green a:hover {
	color: #2b616d;
}
.green a:hover::after {
	width: 100%;
}
